$bgColor: rgb(58, 54, 54);
$bgNav: black;
$bgItem: rgb(105, 88, 88);
body {
  margin: 0;
  background-color: $bgColor;
  .navigation {
    background-color: $bgNav;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .toDosContainer {
    padding: 20px;

    width: 400px;

    .list {
      .item {
        background-color: rgb(65, 55, 55);
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 50px;
        color: white;
        button {
          border: 0;
          background-color: $bgItem;
        }
      }
    }
  }
}
